.btn {
    display: block;
    font-family: $poppins;
    padding: 12px;
    font-size: 18px;
    width: 100%;
    font-weight: 600;
    &--gradient {
        background: transparent linear-gradient(219deg, #9100FF 0%, #4B00FF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 20px rgba(106, 0, 255, 0.45);
        color: white;
        border-radius: 6px;
        transition: ease-in background 0.5s;
        border: 1px solid white;
        &:hover {
            background: transparent linear-gradient(269deg, #5300FF 0%, #9100FF 100%) 0% 0% no-repeat padding-box;
        }
    }
    &__icon {
        @extend %fa-icon;
        @extend .fas;
        &--door {
            content: fa-content($fa-var-user);
        }
    }
}