body {
    font-family: $poppins;
    font-weight: normal;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

.regular-content {
    font: normal normal normal 14px/18px $worksans;
}

.link-color {
    &--purple {
        color: $purple-link;
        &:hover {
            text-decoration: underline;
            color: lighten($purple-link, 3%)
        }
    }
}

.text-color {
    &--white {
        color: white;
    }
}