.form {
    label {
        font-family: $poppins;
        font-weight: regular;
        font-size: 14px;
        display: block;
    }
    input {
        &[type="text"],
        &[type="password"] {
            margin: 10px 0;
            border: 1px solid #BBBBBB;
            border-radius: 5px;
            display: block;
            font-size: 16px;
            width: 100%;
            padding: 5px;
            @media #{$tablet} {
                padding: 9px 15px;
            }
            &:focus {
                border-color: darken(#BBBBBB, 50%);
                outline: initial;
            }
        }
    }
    button {
        //border: 0;
        background-color: initial;
        margin-top: 23px;
    }
    &--white {
        background-color: white;
    }
    &--bordered {
        border-radius: 15px;
    }
    &--login {
        padding: 25px;
        width: 325px;
        min-height: 300px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 99;
        @media #{$mobile} {
            width: 480px;
        }
        @media #{$tablet} {
            width: 612px;
            height: 425px;
            padding: 40px;
        }
        @media #{$desktop} {
            padding: 70px;
        }
        &:before,
        &:after {
            @media #{$desktop} {
                content: url(../images/login-dots-images.svg);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -90px;
                z-index: -9;
            }
        }
        &:after {
            right: -90px;
            left: initial;
        }
    }
    &__footer {
        margin-top: 37px;
        a,
        label {
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
        }
        a {
            color: $blue-link;
        }
    }
}