.form {
    &__row {
        position: relative;
        margin-bottom: 10px;
        div[class*='col'] {
            position: relative;
            span.form__validation {
                right: 8%;
            }
        }
    }
    &__title {
        color: $gray;
        font-size: 22px;
        font-family: $worksans;
        margin-bottom: 24px;
        font-weight: 700;
    }
    &__description {
        color: $light-gray;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    label {
        font-family: $poppins;
        font-weight: 400;
        font-size: 14px;
        display: block;
    }
    &__validation {
        font-size: 12px;
        &--error {
            background-color: $light-red;
            color: $red;
            display: block;
            position: initial !important;
            transform: initial !important;
            border-radius: 5px;
            padding: 10px;
            &:before {
                content: '\f06a' !important;
                font-family: $fontawesome;
                font-size: 14px;
                padding-right: 5px;
            }
        }
    }
    input {
        &[type="text"],
        &[type="password"],
        &[type="email"],
        &[type="tel"] {
            margin: 10px 0 0 0;
            border: 1px solid #BBBBBB;
            border-radius: 5px;
            display: block;
            width: 100%;
            font-size: 14px;
            color: $text;
            padding: 15px 40px 15px 15px;
            @media #{$tablet} {}
            &:focus {
                border-color: darken(#BBBBBB, 50%);
                outline: initial;
            }
            &+span {
                display: block;
                position: absolute;
                bottom: 16px;
                right: 15px;
                &:before {
                    content: "";
                }
            }
            &:valid {
                border-color: green;
                &+span:before {
                    content: '\f00c';
                    color: green;
                    font-family: $fontawesome;
                }
            }
            &:invalid {
                border-color: $red;
            }
        }
    }
    button {
        //border: 0;
        background-color: initial;
        margin-top: 23px;
    }
    &--white {
        background-color: white;
    }
    &--bordered {
        border-radius: 15px;
    }
    &--login {
        padding: 25px;
        width: 325px;
        min-height: 300px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 99;
        @media #{$mobile} {
            width: 480px;
        }
        @media #{$tablet} {
            width: 612px;
            min-height: 425px;
            padding: 40px;
        }
        @media #{$desktop} {
            padding: 70px;
        }
        &:before,
        &:after {
            @media #{$desktop} {
                content: url(../images/login-dots-images.svg);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -90px;
                z-index: -9;
            }
        }
        &:after {
            right: -90px;
            left: initial;
        }
    }
    &__footer {
        margin-top: 37px;
        font-size: 12px;
        line-height: 12px;
        a,
        label {
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
        }
        a {
            color: $blue-link;
        }
    }
}