.header {
    position: absolute;
    width: 100%;
    z-index: 9;
    &__logo {
        img {
            max-width: 100%;
        }
    }
    .open-menu {
        background-color: transparent;
        border: 0;
        color: white;
        font-size: 28px;
    }
}