.dataTable
    .dataTable__filter
        span Ordenar por:
        select(name="filter")
            option(value="mas-reciente") Más reciente
    .dataTable__table
        table(cellpadding=0, cellspacing=0, width="100%")
            tr
                th Candidatos
                th Habilidades
                th Insignias
                th Test
                th Acciones
                th.tools
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr.first-row
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Héctor Córdoba
                td #[span.toCenter.purple 95%]
                td #[span.toCenter.purple 10]
                td.test.toCenter.complete Completado
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Miquel Rodríguez
                td #[span.toCenter.purple 91%]
                td #[span.toCenter.purple 10]
                td.test.toCenter.complete Completado
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Jael Cortez
                td #[span.toCenter.purple 90%]
                td #[span.toCenter.purple 12]
                td.test.toCenter Pendiente 1
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr
                td 
                    a(href="", class="user") #[span(class="user__icon") ] René Mendoza
                td #[span.toCenter.purple 87%]
                td #[span.toCenter.purple 9]
                td.test.toCenter Pendiente 1
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Karla Rodriguez
                td #[span.toCenter.purple 82%]
                td #[span.toCenter.purple 8]
                td.test.toCenter Pendiente 1
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Karla Rodriguez
                td #[span.toCenter.purple 80%]
                td #[span.toCenter.purple 7]
                td.test.toCenter Pendiente 3
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")
            tr.last-row
                td 
                    a(href="", class="user") #[span(class="user__icon") ] Mario Rodriguez
                td #[span.toCenter.purple 78%]
                td #[span.toCenter.purple 6]
                td.test.toCenter Pendiente 1
                td
                    .btns
                        button.btn.btn--gray.purple Descargar CV
                        button.btn.btn--gray.purple Enviar Mensaje
                td.tools.toCenter
                    i.fas.fa-trash-alt
                    input(type="checkbox", name="")