.header-details.add-border.padding-box.border-radius-10.d-md-flex
    .header-details-left
        table(cellpadding=0, cellspacing=0)
            tr
                td 
                    strong Nombre del Puesto:
                td Supervisor de Ventas
            tr
                td 
                    strong Fecha de Publicación:
                td 10-9-2020
            tr
                td 
                    strong Estado:
                td Activo
            tr
                td 
                    strong Preguntas sin Respuestas:
                td 1
    .header-details-right
        .header-details__state
            .header-details__state-top
                ul.reset-list.remove-list-style.d-flex.justify-content-end
                    li Aplicaciones: #[span 15]
                    li Visualizaciones: #[span 12]
            .header-details__state-bar
                p.titleLabel Estado:
                .header-details__state-bar__items
                    ul.kr_progress-bar.reset-list.remove-list-style.d-flex
                        li.completed
                            span
                                i.fas.fa-check
                        li.completed
                            span
                                i.fas.fa-check
                        li.completed
                            span
                                i.fas.fa-check
                        li.completed
                            span
                                i.fas.fa-check
                        li.completed
                            span
                                i.fas.fa-check
                        li.completed
                            span
                                i.fas.fa-check
                        li
                            span
                                i.fas.fa-check
                        li
                            span
                                i.fas.fa-check
