footer.footer__backend
    .container
        div(class="row align-items-md-center")
            div(class="col-12 col-md-6")
                div(class="footer__backend--left")
                    div(class="footer__backend-logo") Krezco
                    div(class="footer__backend-copy")
                        p &copy; 2021 KREZCO. Todos los derechos reservados | #[a(href="/privacidad/") Privacidad]
            div(class="col-12 col-md-6")
                .footer__backend--right
                    .footer__backend-search
                        form
                            input(type="search" placeholder="Buscar" aria-label="Search")
                    .footer__backend-menu
                        ul
                            li
                                a(href="#") Sobre Nosotros
                            li
                                a(href="#") Candidatos
                            li
                                a(href="#") Preguntas Frecuentes
                            li
                                a(href="#") Formación
                            li
                                a(href="#") Empresas
                            li
                                a(href="#") ¡Te ayudamos!