//- Tabs
ul(class="tabs remove-list-style reset-list")
    li.tabs__item
        a(class="tabs__link", href="#") Publica una Vacante
    li.tabs__item
        a(class="tabs__link", href="#") Publica una Pasantía
    li.tabs__item.active
        a(class="tabs__link", href="#") Estado de Vacantes y Pasantías
