.comunidad {
	&.empresa {	
		&:before {
			display: none;
		}
		.container {
		.mt-5 {
			margin-top: 60px !important;
			}
			.kr-box {
			  display: initial;
				.wrapper {
					padding-top: 50px;
					height: 325px;
    				overflow: hidden;
				}
			}
		}
		&:after {
			display: none;
		}
	}
}
.aliados {
	&.empresa {
		margin-bottom: 80px;
	}
}
.experiencia {
	&.empresa {
		padding-top: 0px;
		.container {
			.title {
				margin-bottom: 60px;
			}
		}
	}
}

//
.casos-estudios {
 padding-top:60px;
 padding-bottom:60px;
 .container {
  .title {
  	padding-bottom:70px;
  }
.testimonials {
    /*border-left: 3px solid #6ab33e;
    padding: 100px 0 100px 275px;*/    
    display: flex;
    /*background: url(../images/bg-testimonial.png);*/
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    padding-top: 35px;
    padding-bottom: 35px;
    @media screen and (max-width: 1199px) { 
    	align-items: center;
    }
    &:before {
	   /* content: "";
	    width: 320px;
	    height: 55px;
	    border-right: 3px solid #6ab33e;
	    position: absolute;
	    left: 0;
	    border-top: 3px solid #6ab33e;
	    top: 0;*/
    }
    .testimonial-content {
    	flex: 65%;
    	width: 65%;
    	background: transparent linear-gradient(58deg, #7721A0 0%, #264ECC 100%) 0% 0% no-repeat padding-box;
		box-shadow: 0px 0px 50px #0000001A;
		border-radius: 35px;
		padding: 45px;
		img {
			margin-bottom: 25px;
		}
    }
    .pic { 
	    flex: 35%;
    	width: 35%;
	    img{
		    width: 100%;
		    height: auto;
		    /*opacity: 0;*/
		    transform: scale(1.1);
		    border-radius: 12%;
		    position: relative;
		    right: 24px;
		}
	}
	.description{
		position:relative;
		padding-left: 55px;
		padding-right: 55px;
		&:before {
		    content: "\f10d";
		    font-family: "Font Awesome 5 Free";
		    font-weight: 900;
		    position: absolute;
			top: 0px;
		    left: 0px;
		    font-size: 30px;
		    color: $white;
		}
		p {
		    font-size: 17px;
		    color: $white;
		    line-height: 30px;
		    position: relative;
		    text-align: left;		
		    font-family: $worksans;

		}
	}
	.testimonial-title{
	    font-size: 18px;
	    font-family: $worksans;
	    font-weight:bold;
	    color: $white;	   
	    padding-bottom: 12px; 
	}
	.post{
	    display: block;
	    font-size: 15px;
	    font-weight: 700;
	    color :#6ab33e;
	    margin-top: 10px;
	}
    &:after {
	    /*content: "";
	    width: 320px;
	    height: 55px;
	    border-right: 3px solid #6ab33e;
	    position: absolute;
	    left: 0;
	    border-bottom: 3px solid #6ab33e;
    	bottom: 0;*/
    	}
    }
    .owl-theme {
		.owl-controls{
		    text-align: left;
		    margin-top: 30px;
		    .owl-buttons {
		    	div {
		    		background: transparent;
				    border-radius: 0;
				    opacity: 1;
				    padding: 5px 10px;
				    border: 1px solid #7821A0;
    				border-radius: 100%;
		    	}
		    	.owl-prev {
		    		&:before {
		    		    content: "\f053";
					    font-family: "Font Awesome 5 Free"; font-weight: 900;
					    color: #7821A0;
		    		}
		    	}
		    	.owl-next {
		    		&:before {
		    		    content: "\f053";
					    font-family: "Font Awesome 5 Free"; font-weight: 900;
					    color: #7821A0;
					    content: "\f054";
					    }
		    		}
		    	}
		    }
		}    	
    }
}

@media only screen and (max-width: 990px){
    .testimonials{
        padding: 80px 0 80px 265px;
    }
    .casos-estudios {
      .container { 
        .testimonials {
     	  padding: 80px 0 80px 0px;
        }	
      }  	
    }    	
}
@media only screen and (max-width: 767px){
    .testimonials{
        padding: 0;
        border: none;
    }
    .testimonials:before,
    .testimonials:after{
        border: none;
    }
    .testimonials .pic{
        position: relative;
        top: 0;
        left: 0;
    }
    .testimonials .description{
        margin-top: 15px;
    }
    .testimonials .description:before{
        content: "";
    }
}    