.temp-logo {
    font-size: 61px;
    text-transform: uppercase;
    color: white;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    &__logo {
        &--color {
            .temp-logo {
                color: $blue-link !important;
                font-size: 41px !important;
                span {
                    color: $purple;
                }
            }
        }
    }
    &__menu {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            max-width: 934px;
            margin-left: auto;
            margin-bottom: 0;
            justify-content: space-between;
            align-items: center;
        }
        &Item {
            a {
                font-size: 12px;
                text-transform: uppercase;
                color: white;
                letter-spacing: 1.4px;
                @media #{$desktop-large} {
                    font-size: 14px;
                }
                &:hover,
                &:focus {
                    opacity: 0.4;
                }
                &.btn {
                    text-transform: initial;
                    padding-left: 25px;
                    padding-right: 25px;
                    box-shadow: 0px 10px 20px hsl(265deg 100% 50% / 45%);
                    @media #{$desktop} {
                        padding-left: 35px;
                        padding-right: 35px;
                    }
                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


/* experiencia */

.experiencia {
    padding-top: 40px;
    padding-bottom: 80px;
    .container {
        .title {
            font-family: $worksans;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0px;
            color: #0A0A0A;
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 35px;
            span {
                display: block;
            }
        }
        .row {
            p {
                font-family: $poppins;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0px;
                color: #616260;
            }
        }
    }
}


/* Aliados */

.aliados {
    background: transparent linear-gradient(#3247c5 0%, #7124a3 125%) 0% 0% no-repeat padding-box;
    position: relative;
    padding-top: 50px;
    &:before {
        /*content: url(../images/gear-wheel-bg.png);*/
        top: 0;
        position: absolute;
        left: 0;
        right: initial;
        bottom: initial;
        line-height: 0;
        transform: rotate(180deg);
        opacity: 0.3;
    }
    &:after {
        /*content: url(../images/gear-wheel-bg.png);*/
        bottom: 0;
        position: absolute;
        right: 0;
        left: initial;
        top: initial;
        line-height: 0;
        opacity: 0.3;
    }
    .container {
        .title {
            font-family: $worksans;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0px;
            color: white;
            font-weight: 600;
        }
        .row {
            #owl-aliados {
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 50px #0000001A;
                border-radius: 20px;
                padding: 32px;
                position: relative;
                top: 80px;
                .owl-item {
                    text-align: center !important;
                }
                .owl-controls {
                    margin-top: 0px;
                    .owl-buttons {
                        position: relative;
                        top: -60px;
                        .owl-prev {
                            border: 2px solid #E3E4E9 !important;
                            position: absolute;
                            left: 0px;
                            .fa {
                                color: #616260;
                            }
                        }
                        .owl-next {
                            border: 2px solid #E3E4E9 !important;
                            position: absolute;
                            right: 0px;
                            .fa {
                                color: #616260;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container {
    .title {
        font-family: $worksans;
        font-weight: bold;
        font-size: 43px;
        text-align: center;
        letter-spacing: 0px;
        color: #0A0A0A;
    }
}


/* News */

.news {
    padding-top: 80px;
    padding-bottom: 80px;
    .title {
        text-align: center;
        letter-spacing: 0px;
        color: #0A0A0A;
        opacity: 1;
        font-size: 40px;
        padding-bottom: 40px;
        font-weight: 600;
    }
    .row {
        .col-sm-4 {
            img {
                width: 100%;
                padding-bottom: 22px;
            }
            span {
                text-align: left;
                letter-spacing: 5px;
                color: #616260;
                text-transform: uppercase;
                opacity: 1;
                font-size: 16px;
            }
            h2 {
                font-size: 26px;
                text-align: left;
                letter-spacing: 0px;
                color: #0A0A0A;
                opacity: 1;
                font-family: $worksans;
                font-weight: 600;
                padding-top: 5px;
                overflow: hidden;
                height: 70px;
                span {
                    display: block;
                    font-family: $worksans;
                    font-weight: 600;
                    font-size: 26px;
                    text-align: left;
                    letter-spacing: 0px;
                    color: #0A0A0A;
                    text-transform: initial;
                }
            }
            p {
                text-align: left;
                letter-spacing: 0px;
                color: #616260;
                opacity: 1;
                font-size: 16px;
                font-weight: 300;
                line-height: 25px;
                padding-right: 30px;
            }
            a {
                text-align: center;
                letter-spacing: 0px;
                color: #264ECC;
                font-family: $poppins;
                font-size: 18px;
                &:after {
                    font-family: $fontawesome;
                    font-weight: 900;
                    content: "\f30b";
                    margin-left: 8px;
                    color: #7821A0;
                    position: relative;
                    top: 2px;
                }
                &:hover {
                    color: #2145b9;
                }
            }
        }
    }
}