.login {
    background: transparent linear-gradient(60deg, #7721A0 0%, #264ECC 100%) 0% 0% no-repeat padding-box;
    min-height: 100vh;
    position: relative;
    &:before {
        @media #{$desktop} {
            content: url(../images/login-background-points.png);
            position: absolute;
            top: 27px;
            left: 27px;
            line-height: 0;
        }
    }
    &:after {
        @media #{$desktop} {
            content: url(../images/gear-wheel-login-background.png);
            bottom: 0;
            position: absolute;
            right: 0;
            left: initial;
            top: initial;
            line-height: 0;
        }
    }
    &__content-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media #{$tablet} {
            /*position: absolute;*/
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
        }

    }
    .logo {
        font-family: $poppins;
        color: white;
        font-size: 61px;
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        &.v2 {
            max-width: 100%; 
        }
    }
    .perfil-row {
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 20px;
            .title {  
                color: #646464;
                font-family: $worksans;
                font-size: 22px;
                padding-bottom: 10px;
            }
            p {
                text-align: center;
        }
    }
    .file-row{
    margin-bottom: 25px;
    .file {
            position: relative;
            overflow: hidden;
            background: #7821a0;
            color: #fff;
            text-align: center;
            height: 45px;
            border-radius: 5px;
            line-height: 42px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
            input {
              position: absolute;
              font-size: 50px;
              opacity: 0;
              right: 0;
              top: 0;
              cursor: pointer;
            }
          &.gray  {
            background: #D5D5D5;
          }
     }
     small.green {
        font-size: 13px;
        color:#008000
     }
     small.red {
        font-size: 13px;
        color: #ff0000;
     }
   }   
}