.vacantes {
    background: #efefef;
    .bordered-box {
        border: 1px solid #D5D5D5;
        border-radius: 30px;
        padding: 30px 35px;
        margin-top: 40px;
        background: $white;
        &__header {
            margin-bottom: 30px;
            padding-bottom: 30px;
            padding-top: 20px;
            border-bottom: 1px solid #D5D5D5;
            &-title {
                color: #646464;
                font-size: 18px;
                font-weight: 600;
            }
            .content {
              padding-top: 42px;    
                img {
                    width: 100%;
                    margin-bottom: 25px;
                }              
                p {
                    color: #646464;
                    font-family: $poppins;
                    font-size: 16px;
                    line-height: 25px;
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        &__body {
            margin-bottom: 30px;
            padding-bottom: 30px;
            padding-top: 20px;
            /*border-bottom: 1px solid #D5D5D5;*/
            &-title {
                color: #646464;
                font-size: 18px;
                font-weight: 600;
            }
            .content {
              padding-top: 20px;  
                .title {
                    color: #646464;
                    font-size: 18px;
                    font-weight: 600;  
                    text-align: left;
                    padding-bottom: 20px;     
                }
                p {
                    color: #646464;
                    font-family: $poppins;
                    font-size: 16px;
                    line-height: 25px;
                }
                ul {
                    -moz-column-count: 2;
                    column-count: 2;
                    padding-left: 0;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    li {
                        list-style: none;
                        color: #646464;
                        font-family: $poppins;
                        font-size: 16px;
                        line-height: 25px;
                        padding-bottom: 4px;
                        &:before {
                            content: "\f00c";
                            font-family: "Font Awesome 5 Free";
                            padding-right: 10px;
                            color: #7821A0;
                        }
                    }
                }
            }
        }
    }
    .comentarios {
        margin-bottom: 40px;
        .preguntas {
            color: #646464;
            font-size: 18px;
            font-weight: 600;  
            text-align: left;
            padding-bottom: 20px;   
            border-bottom: 1px solid #D5D5D5;              
        }
        .filtro {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            padding-top: 20px;
            .title {
                text-align: left;
                font-size: 15px;
                font-weight: 300;                
            }
            span {
                    padding-left:10px;
                    font-size: 15px;
                    font-family: $poppins;
                    color: #9100FF;
                }
            .fa {
                color:#959595;
                padding-left: 5px;
                position: relative;
                top: 2px;
            }    
        }
        .valoracion-title {
            color: #646464;
            font-size: 18px;
            font-weight: 600;  
            text-align: left;
            padding-bottom: 30px;   
            border-bottom: 1px solid #D5D5D5;     
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                background: transparent linear-gradient(206deg, #9100FF 0%, #4B00FF 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 10px 20px #6A00FF73;
                border-radius: 32px;
                color: $white;                    
                padding: 10px 25px;
                font-weight: 400;
                font-size: 16px;
            }
        }
        .videos {
            padding-top:20px;             
            .title {
                text-align: left;
                font-size: 18px;
                font-weight: 500;
                color: #646464;
                padding-bottom:40px;
            }
                .cols {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid #D5D5D5;
                    .item-video {   
                        padding-right:15px;
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-bottom: 20px;
                    img {
                        width: 100%;
                        margin-bottom: 15px;
                    }        
                    p {
                        font-family: $poppins;
                        font-size: 15px;
                        line-height: 20px;
                        padding-left: 5px;
                    }                      
                }
            }
            nav {
               .pagination {
                .page-item {
                    a {
                        border:0px;
                        color: transparent;
                        padding-left: 0px;
                        &:after {
                            content: "";
                            background: #D6D6D6;
                            border-radius: 50%;
                            height: 8px;
                            width: 8px;
                            position: absolute;
                        }
                        &:hover {
                            background:transparent;
                            &:after {
                                    background: #9100FF;
                                }
                        }
                        &.active {
                            &:after {
                                content: "";
                                background: #9100FF;
                                border-radius: 50%;
                                height: 8px;
                                width: 8px;
                                position: absolute;
                           }
                        }
                     }
                  }
               } 
            }
        }
        .fotos {
            padding-top:20px;             
            .title {
                text-align: left;
                font-size: 18px;
                font-weight: 500;
                color: #646464;
                padding-bottom:40px;
            }
                .cols {
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: center;                    
                    .item-video {   
                        padding-right:15px;
                        flex: 0 0 33.3%;
                        max-width: 33.3%;
                        margin-bottom: 20px;
                    img {
                        width: 100%;
                        margin-bottom: 15px;
                    }        
                    p {
                        font-family: $poppins;
                        font-size: 15px;
                        line-height: 20px;
                        padding-left: 5px;
                    }                      
                }
            }
            nav {
               .pagination {
                .page-item {
                    a {
                        border:0px;
                        color: transparent;
                        padding-left: 0px;
                        &:after {
                            content: "";
                            background: #D6D6D6;
                            border-radius: 50%;
                            height: 8px;
                            width: 8px;
                            position: absolute;
                        }
                        &:hover {
                            background:transparent;
                            &:after {
                                    background: #9100FF;
                                }
                        }
                        &.active {
                            &:after {
                                content: "";
                                background: #9100FF;
                                border-radius: 50%;
                                height: 8px;
                                width: 8px;
                                position: absolute;
                           }
                        }
                     }
                  }
               } 
            }
        }
        .contenido {
                padding-top:30px;
                .imagen-de-perfil {
                    float: left;
                    padding-right: 25px;
                }
                .dialogo {                    
                    span {                        
                        color:#888888;
                        font-size: 12px;
                        font-family: $poppins;
                        &.nombre {
                            color:#3D3D3D;
                            font-family: $poppins;
                            font-size: 16px;
                            line-height: 26px;
                            display: block;
                        }
                        &.hora {
                            float: right;
                        }
                        &.eliminar {
                            float: right;
                            a {
                                color: #959595;
                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                    .caja-comentario {
                        position: relative;
                        margin: 15px 0px 22px 75px;                        
                        &:before {
                            //content: "\f0dd";
                            /*content: url(../images/coment_icon.png);*/
                            font-family: "Font Awesome 5 Free";
                            padding-right: 10px;
                            color: #7821A0;
                        }                    

                        p {
                            padding: 15px 25px;
                            background-color: #F5F5F5;
                            border: 1px solid #D5D5D5;    
                            font-family: $poppins;
                            font-size: 16px;
                            color: #646464;
                            line-height: 25px;
                        }
                        .compartir {
                            padding-bottom: 15px;
                            margin-bottom: 45px;
                            a {
                                color: #888888;
                                font-size: 13px;
                                &:hover {
                                    color: $black;
                                }
                            }
                            .hora {

                            }
                        }
                    }
                }
                &.sp-dv {
                    border-bottom: 1px solid #D5D5D5;                    
                }
            }
            .mas-valoraciones {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 30px;
                a {
                    color: #4B00FF;
                    font-family: $poppins;
                }
            }
        .respuesta {
            width: 75%;
            margin-left: auto;
            position:relative;
            span {
                color:#888888;
                font-size: 12px;
                font-family: $poppins;
            }
            .comentario-empresa {
                position: relative;
                margin: 15px 100px 22px 0px;
                padding: 15px 25px;
                background-color: #F5F5F5;
                border: 1px solid #D5D5D5;
                p {
                    font-family: $poppins;
                    font-size: 16px;
                    color: #646464;
                    line-height: 25px;
                }
            }
            img {
                position: absolute;
                top: 0px;
                right: 0px;
            }
        }    
        .preguntanos {
            margin-top: 50px;
            margin-bottom: 40px;
            .title {
                font-family: $poppins;
                color: #646464;
                font-size: 18px;
                font-weight: 600;  
                text-align: left;
                padding-top: 20px;
                border-top: 1px solid #D5D5D5;
                padding-bottom: 30px;
            }
            .justificar-contenido {
                display: flex;
                .imagen-de-perfil {
                  margin-right: 25px;
                }
                .area-de-texto {
                  width: 100%;  
                    textarea { 
                      width: 100%;
                      border: 1px solid #CFCFCF;
                      font-family: $poppins;              
                      color: #B1B1B1;
                      font-size: 16px;
                      line-height: 25px;                        
                      letter-spacing: 0px;
                      padding: 25px;
                      border-radius: 20px;
                      &:focus {
                        outline: none;
                       }
                    }
                    .btn {
                        margin-top: 30px;
                        border-radius: 27px;
                        font-weight: normal;
                        border: 0;
                        font-size: 14px;
                        width: 171px;                        
                    }  
                }
            }  
        }
    }
    .bottom-content {
      margin-bottom: 50px;  
        .button {
          display: flex;  
          justify-content: flex-end;
            .btn {
                  border-radius: 30px;
                  max-width: 340px;
                  font-size: 18px;
                  font-weight: 300;
                  margin-left: 20px;
            }
        }
    }
    .job-header {
        &__top {
            display: flex;
            margin-bottom: 24px;
            min-height: 90px;
        }
        &__name {
            position: relative;
            padding-left: 117px;
            width: 50%;
            &-logo {
                position: absolute;
                left: 0;
                top: 0;
            }
            &-title {
                color: #3D3D3D;
                font-size: 24px;
                margin-bottom: 5px;
            }
            &-company {
                color: #888888;
                font-size: 16px;
            }
            &-location {
                color: #888888;
                font-size: 14px;
            }
        }
        &__top-buttons {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            .job-header__notification {
                display: flex;
                align-items: center;
                padding-left: 0;
                .form-check-label {
                    color: #878787;
                    font-size: 16px;
                }
                .form-check-input {
                    height: 36px;
                    width: 64px;
                    margin-left: 20px;
                    float: none;
                }
            }
            .job-header__apply {
                margin-left: 29px;
            }
            .btn {
                width: 134px;
                border-radius: 27px;
                font-weight: normal;
                padding: 8px 15px;
                font-size: 14px;
                border: 0;
            }
        }
        &__middle {
            display: flex;
            border-bottom: 1px solid #D5D5D5;
            &-aptitude {
                font-size: 16px;
                color: #646464;
            }
            &-col {
                padding-bottom: 18px;
                &:first-child {
                    padding-right: 75px;
                    border-right: 1px solid #D5D5D5;
                }
                &:nth-child(2) {
                    padding-left: 63px;
                    padding-right: 63px;
                    border-right: 1px solid #D5D5D5;
                }
                &:nth-child(3) {
                    padding-left: 48px;
                    /*padding-right: 48px;*/
                    width: 40%;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                font-size: 16px;
                color: #646464;
                margin-bottom: 5px;
                &.view-icon {
                    &:before {
                        content: "\f06e";
                        font-family: $fontawesome;                        
                        color: #C2C2C2;
                        padding-right: 15px;
                    }
                    a {
                        float: right;
                        i {
                            color: #C2C2C2;
                            padding-right: 15px;
                        }
                    }
                }
                &.carpet-icon {
                    &:before {
                        content: "\f07c";
                        font-family: $fontawesome;
                        color: #C2C2C2;
                        padding-right: 15px;
                    }
                    a {
                        float: right;
                        i {
                            color: #C2C2C2;
                            padding-right: 15px;
                        }
                    }
                }
                strong {
                    color: #565656;
                    font-weight: 600;
                }
            }
        }
        &__bottom {
            display: flex;
            padding-top: 30px;
            &-button {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;
            }
            &-right {
                text-align: right;
            }
            &-salary {
                font-size: 14px;
                background-color: #8CC773;
                color: white;
                border-radius: 27px;
                padding: 8px 15px;
                line-height: 1.5;
                display: inline-block;
            }
            &-left {
                width: 50%;
            }
            &-right {
                width: 50%;
            }
        }
    }
    .vacancy {
        &__content {}
        &__sidebar {
            &-content {
                padding-bottom: 30px;
                ul {
                    list-style: none;
                    padding: 0 0 15px 0;
                    margin: 0 0 30px 0;
                    border-bottom: 1px solid #D5D5D5;
                }
                li {
                    font-size: 16px;
                    margin-bottom: 15px;
                    strong {
                        font-weight: 600;
                    }
                }
                .btn {
                    border-radius: 27px;
                    font-weight: normal;
                    border: 0;
                    font-size: 14px;
                    width: 171px;
                    margin-left: auto;
                    margin-right: auto;
                }
                .social-media {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    border-bottom: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    li {
                        margin-right: 20px;
                        a {
                        .fab {
                                font-size: 35px;
                                color: #CBCBCB;
                            }
                            &:hover {
                                .fab {
                                  color: $black;
                                }
                            }
                        }
                    }
                }
            }
            &.insignias {
                ul {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 8px;
                    padding-right: 8px;
                    border: 0px;
                }
                .contenido-inferior {
                text-align: right;
                a {
                    font-family: $poppins;
                    color: #979797;
                    &:after {
                            font-family: $fontawesome;
                            font-weight: 900;
                            content: "\f30b";
                            margin-left: 8px;
                            color: #7821A0;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }
        }
    }
}